body{  
    margin: 0px;   
}

.fullScreen{
    background-color: #F8E4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .navBar{
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 78px;
    background-color: #ffffff;
    margin: 0px;
    align-items: center;
    position: fixed;
    top: 0;  
    box-shadow: 0px 3px 0px 0px #F91559;
}

.logo{
    float: left;
    margin-left: 80px;
    color: #F91559;
    font-size: 45px;
    font-family: 'Righteous', cursive;
}

.tabs{
    width: 375px;
    float: right;
    margin-right: 80px;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    display: flex;
    flex-direction: row;
}

.oneTab{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: regular;
} */



.topnav {
    /*overflow: hidden;*/
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 1;
    position: fixed;
    top: 0;  
    box-shadow: 0px 3px 0px 0px #F91559;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: regular;
    line-height: 60px;
  }
 
  
  .topnav a {
    float: left;
    display: inline-block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 0px 30px 0px 30px;
  }
  
  .topnav a:hover {
    background-color: #F91559;
    color: #ffffff;
  }
  
  .topnav a.active {
    color: #F91559;
    text-decoration: underline;
  }
  
  .topnav .icon {
    display: none;
  }

  #logo{
    font-size: 45px;
    font-family: 'Righteous', cursive;
    padding-top: 0px;
    color: #F91559;
}

.topnav #logo:hover {
    color: white;
}

.topnav #logo.active{
    text-decoration: none;
}



.hello{
    height: 420px;
    width: 88%;
    margin-top: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    line-height: 80px;
    font-family: 'Righteous', cursive;
}

.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
}

.tag{
    background-color:#BDA0A1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 52px;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    float: left; 
}


.threeCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 25px; 
    width: 100%;
}

.cards{
    width: 88%;
    display: flex;
    justify-content: space-between;
}


.card{
    width: 31%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.cardImage{
    width: 90%;
    height: auto;
    margin-top: 5%;
}


.cardName{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 10px;  
}

.cardDescription{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    width: 90%;
    margin: 0px;
    font-weight: 300;
    margin-bottom: 25px;
}

.button{
    width: 88%;
    justify-content: end;
}
.seeMore{
    width: 120;
    height: 40;
    border-radius: 25px;
    border: solid 3px #F91559;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F91559;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    float: right;  
    margin-top: 40px;
}

.seeMore:hover{
    background-color: #F91559;
    color: white;
}

.code{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 320px;
    background-image: url("images/arrows.gif");
    background-repeat: no-repeat;
}

h3{
    font-size: 40px;
    color: black;
    font-family: 'Righteous', cursive;
}


.me{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}


.aboutMe{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.photoMe{
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    
}

.photo{
    width: 90%;
    height: auto;
    float: left;
}

.whoIam{
    width: 50%;
    float: left;
   
}

h1{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 34px;
    color: black;
    font-family: 'Righteous', cursive;
}

#whoIam{
    width: 100%;
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    text-align: justify;
    font-weight: 300;
}

.info{
    height: 460px;
    width: 100%;
    background-color: #BDA0A1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    height: 220px;
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.findOut{
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialIcon{
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.linkedin{
    display: inline-block;
    height: 34px;
    width: 34px;
    margin-bottom: 6px;
    background: transparent url("images/SVG/linkedin.svg") no-repeat;
}

.linkedin:hover{
    background: transparent url("images/SVG/linkedinPink.svg") no-repeat;
}

.behance{
    margin-top: 15px;
    height: 40px;
    width: 40px;
    background: transparent url("images/SVG/behance.svg") no-repeat;
}

.behance:hover{
    background: transparent url("images/SVG/behancePink.svg") no-repeat;
}

.instagram{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: transparent url("images/SVG/instagram.svg") no-repeat;
}

.instagram:hover{
    background: transparent url("images/SVG/instaPink.svg") no-repeat;
}





@media only screen and (max-width: 780px){
    
    /*.logo{
        margin-left: 40px;
        font-size: 35px;
    }
    
    .tabs{
        width: 280px;
        margin-right: 40px;
    }
    
    .oneTab{
        font-size: 15px;
    }*/

    /*.topnav {
        font-size: 16px;
        line-height: 30px;
      }

      /*.topnav a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 16px;
      }*/

      #logo{
        font-size: 30px;
        line-height: 60px;
    }

    .topnav a:hover {
        background-color: transparent;
        color: #000000;
      }
      
      .topnav a.active {
        color: #F91559;
        text-decoration: underline;
      }


      .topnav #logo:hover {
        color: #F91559;
    }



    /*.topnav {
        /*overflow: hidden;
        background-color: #ffffff;
        width: 100%;
        height: 60px;
        position: absolute;
        z-index: 1;
        position: fixed;
        top: 0;  
        box-shadow: 0px 3px 0px 0px #F91559;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: regular;
        line-height: 60px;
      }*/
     
      
      /*.topnav a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        text-decoration: none;
        padding: 0px 30px 0px 30px;
      }
      
      .topnav a:hover {
        background-color: #F91559;
        color: #ffffff;
      }
      
      .topnav a.active {
        color: #F91559;
        text-decoration: underline;
      }
      
      .topnav .icon {
        display: none;
      }
    
      #logo{
        font-size: 45px;
        font-family: 'Righteous', cursive;
        padding-top: 0px;
        color: #F91559;
    }
    
    .topnav #logo:hover {
        color: white;
    }
    
    .topnav #logo.active{
        text-decoration: none;
    }*/
    

   
    

    
    .hello{
        height: 350;
        width: 92%;
        margin-top: 90px;
        margin-bottom: 20px;
        font-size: 45px;
        line-height: 70px;
    }
    
    .section{
        margin-bottom: 60px;
    }
    
    .tag{
        width: 100%;
        font-size: 18px;
    }
    

    .cards{
        width: 92%;
        flex-direction: column;
        align-items: center;
    }
    
    
    .card{
        width: 100%;
        margin-bottom: 40px;
    }

    .card:hover{
        transform: scale(1);
    }
    
    
    .button{
        width: 60%;
        justify-content: center;
    }

    .seeMore{
        width: 100%;
        height: 40;
        margin-top: 0px;
    }
    
    .me{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    
    .aboutMe{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .photoMe{
        width: 100%;   
    }
    
    .photo{
        width: 100%;
        height: auto;
    }
    
    .whoIam{
        width: 100%;
    }
    
    h1{
        margin-top: 40px;
        margin-bottom: 20px;
    }  



   .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      padding-top: 22px;
      /*position: fixed;*/
    }
  
  
    .topnav.responsive {
        position: fixed;
        
    }
    .topnav.responsive .icon {
      position: fixed;
      right: 0px;
      top: 0px;
      box-shadow: none;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      background-color: #ffffff;
      height: 80px;
      line-height: 80px;
      box-shadow: 0px 3px 0px 0px #ffffff;
    }
  
    .topnav.responsive #contact {
  box-shadow: 0px 3px 0px 0px #F91559;}



  @media only screen and (max-width: 500px){

    .hello{
        font-size: 36px;
        line-height: 60px;
    }

    h1{
        font-size: 28px;
    }

    #info{
        width: 300px;
    }

    .button{
        width: 90%;
        justify-content: center;
    }
}
  


