body{  
    margin: 0px;   
}

.fullScreen{
    background-color: #F8E4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 55px;
    line-height: 85px;
    font-family: 'Righteous', cursive;
    font-weight: 500;
}

h2{
    font-size: 34px;
    color: black;
    font-family: 'Righteous', cursive;
    font-weight: 200;
    margin: 0px;
    margin-bottom: 20px;
}

h3{
    font-size: 34px;
    color: white;
    font-family: 'Righteous', cursive;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 200;
}

h4{
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    float: left; 
    font-weight: 300;
}

h5{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 10px; 
    font-weight: 500;
}

h6{
    font-size: 24px;
    color: black;
    font-family: 'Righteous', cursive;
    font-weight: 200;
    margin: 0px;
    margin-bottom: 10px; 
    line-height: 34px;
}


p{
    font-size: 18px;
    color: black;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    /*text-align: justify;*/
    font-weight: 300;
    margin: 0px;
}

#italic{
    font-size: 28px;
    color: black;
    font-family: 'Lato', sans-serif;
    line-height: 50px;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
}


.topnav {
    /*overflow: hidden;*/
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 1;
    position: fixed;
    top: 0;  
    box-shadow: 0px 3px 0px 0px #F91559;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: regular;
    line-height: 60px;
  }
  
  .topnav a {
    float: left;
    display: inline-block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 0px 30px 0px 30px;
  }
  
  .topnav a:hover {
    background-color: #F91559;
    color: #ffffff;
  }
  
  .topnav a.active {
    color: #F91559;
    text-decoration: underline;
  }
  
  .topnav .icon {
    display: none;
  }

  #logo{
    font-size: 40px;
    font-family: 'Righteous', cursive;
    padding-top: 0px;
    color: #F91559;
}

.topnav #logo:hover {
    color: white;
}

.topnav #logo.active{
    text-decoration: none;
}

.hello{
    height: 420px;
    width: 88%;
    margin-top: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
}

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 52px;
    background-color:#F91559;
    margin-bottom: 80px;
}

.UXprojects{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.threeCards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}

.largeCard{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}

#lastUXcard{
    margin-bottom: 0px;
}

.title{
    width: 28%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-right: 8%;
}

#title:hover{
    color: #F91559;
}

.imageUX{
    width: 72%;
}

#imageUX{
    width: 100%;
    height: auto;
}

#imageUX:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}

.cards{
    width: 80%;
    display: flex;
    justify-content: space-between;
}


.card{
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.cardImage{
    width: 90%;
    height: auto;
    margin-top: 5%;
}

.cardDescription{
    width: 90%;
    margin: 0px;
    margin-bottom: 25px;
}

.seeMore{
    width: 130px;
    height: 40;
    border-radius: 25px;
    border: solid 2px #F91559;
    text-align: center;
    color: #F91559;
    font-size: 18px;
    line-height: 38px;
    font-family: 'Lato', sans-serif;;
    font-weight: medium;
    margin-top: 40px;
}

.seeMore:hover{
    background-color: #F91559;
    color: white;
}


.code{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#codeTag{
    margin-bottom: 40px;
}


.container{
  position: relative;
  text-align: center;
  color: white;
}
 

#thisSite{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.halfImage{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.leftImage{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightImage{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.text{
    width: 50%;
    float: left;   
    display: flex;
    flex-direction: column;
}

.twoButtons{
    display: flex;
    flex-direction: row;
}

#buttonPink{
    width: 130px;
    height: 40;
    border-radius: 25px;
    border: solid 2px #F91559;
    text-align: center;
    color: #F91559;
    font-size: 18px;
    line-height: 38px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 20px;
}

#buttonLong{
    width: 130px;
    height: 40;
    border-radius: 25px;
    border: solid 2px #000000;
    text-align: center;
    color: #000000;
    font-size: 17px;
    line-height: 38px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

#buttonPink:hover{
    background-color: #F91559;
    color: #ffffff;
}

#buttonLong:hover{
    background-color: #000000;
    border: solid 2px #000000;
    color: #ffffff;
    font-weight: 500;
}

.image{
    width: 50%;
    height: auto;    
}

#imageLeft{
    width: 90%;
    height: auto;
    float: left;
}

#imageRight{
    width: 90%;
    height: auto;
    float: right;
}


.info{
    height: 200px;
    width: 100%;
    background-color: #F8E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialIcon{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin{
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
    background: transparent url("images/SVG/linkedin.svg") no-repeat;
}

.linkedin:hover{
    background: transparent url("images/SVG/linkedinPink.svg") no-repeat;
}

.behance{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    background: transparent url("images/SVG/behance.svg") no-repeat;
}

.behance:hover{
    background: transparent url("images/SVG/behancePink.svg") no-repeat;
}

.instagram{
    height: 30px;
    width: 30px;
    background: transparent url("images/SVG/instagram.svg") no-repeat;
}

.instagram:hover{
    background: transparent url("images/SVG/instaPink.svg") no-repeat;
}


/*project page*/

#caseScreen{
    background-color: #ffffff;
}

#caseSection{
    width: 80%;
    padding-top: 120px;
    padding-bottom: 0px;
}

.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 80px;
}

.caseName{
    width: 80%;
    float: left;
    margin-bottom: 60px;
}

.description{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.aboutProject{
    width: 65%;
}

.projectFacts{
    width: 35%;
    padding-left: 12%;
    display: flex;
    flex-direction: column;
}

#fact{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#factName{
    width: 35%;
}

#factInfo{
    width: 65%;
    text-align: left;
    margin-left: 5%;
}

.cover{
    width: 100%;
}


.colorBG{
    width: 100%;
    margin-top: 120px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#beige{
    background-color: #fdf8f4;
}

#grey{
    background-color: #F5F3FA;
}

.twoParagraphs{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.paragraph{
    width: 50%;
    padding-right: 10%;
}

#persona{
    width: 100%;
    height: auto;
    margin-top: 80px;
}

#wideParagraph{
    padding-top: 80px;
    padding-bottom: 10px;
}

.threeImages{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

#image{
    width: 30%;
    height: auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;   
}

#smallerImage{
    width: 25%;
    height: auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#imageCaption{
    padding-top: 15px;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    width: 80%;
}

.gif{
    display: flex;
    align-items: center;
    justify-content: center;
}

#center{
    width: 70%;
    height: auto;
    margin-top: 80px;
}

#marginBottom{
    margin-bottom: 100px;
}

.shadow{
    box-shadow: 0 5px 15px rgba(8, 8, 29, 0.1);
}

.twoImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.caption{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}

#caption{
    font-size: 16;
    font-weight: 300;
    line-height: 60px;
    color: #827E7F;
}

#captionAbove{
    font-size: 16;
    font-weight: 300;
    padding-left: 10%;
    color: #827E7F;
}

#gif{
    width: 100%;
    height: auto;
    
}

#gifLeft{
    width: 100%;
    height: auto;
    
}




@media only screen and (max-width: 1000px){

    .title{
        padding-top: 30px;
    }

    .seeMore{
        margin-top: 20px;
    }

    .cards{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    
    .card{
        width: 32%;
    }
    
    .cardImage{
        width: 94%;
        height: auto;
        margin-top: 3%;
    }
    
    .cardDescription{
        width: 90%;
        margin: 0px;
        margin-bottom: 25px;
    }

}



@media only screen and (max-width: 780px){

    #logo{
        font-size: 30px;
        line-height: 60px;
    }

    .topnav a:hover {
        background-color: transparent;
        color: #000000;
    }
      
    .topnav a.active {
        color: #F91559;
        text-decoration: underline;
    }


    .topnav #logo:hover {
        color: #F91559;
    }

      
    .topnav a.active {
        color: #F91559;
        text-decoration: underline;
    }
      
    .topnav .icon {
        display: none;
    }
    
    #logo{
        font-size: 45px;
        font-family: 'Righteous', cursive;
        padding-top: 0px;
        color: #F91559;
    }
    
    .topnav #logo:hover {
        color: #F91559;
    }
    
    .topnav #logo.active{
        text-decoration: none;
    }
    
 
    .hello{
        height: 320;
        width: 90%;
        margin-top: 90px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 45;
        line-height: 70px;
    }

    h5{
        font-size: 18px;
       line-height: 30px;
    }


    #textCentered{
        text-align: center;
        width: 80%;
    }
    
    .section{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .tag{
        width: 100%;
        font-size: 18px;
    }
    
    
    .largeCard{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    
    .title{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-right: 0px;
    }
    
    #title:hover{
        color: #F91559;
    }
    
    .imageUX{
        width: 100%;
    }
    
    #imageUX{
        width: 100%;
        height: auto;
    }
    
    #lastUXcard{
        margin-bottom: 60px;
    }

    .button{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    
    .leftImage{
        width: 88%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image{
        width: 80%;
        height: auto;    
    }
    
    #imageLeft{
        width: 100%;
        height: auto;
    }

    .text{
        width: 80%;
        float: left;   
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .twoButtons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      padding-top: 22px;
      color: #F91559;
      /*position: fixed;*/
    }
  
  
    .topnav.responsive {
        position: fixed;
        
    }
    .topnav.responsive .icon {
      position: fixed;
      right: 0px;
      top: 0px;
      box-shadow: none;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      background-color: #ffffff;
      height: 80px;
      line-height: 80px;
      box-shadow: 0px 3px 0px 0px #ffffff;
    }
  
    .topnav.responsive #contact {
  box-shadow: 0px 3px 0px 0px #F91559;}





  @media only screen and (max-width: 580px){

    .hello{
        height: 240;
    }

    .tag{
        margin-bottom: 20px;
    }

    h1{
        font-size: 32;
        line-height: 50px;
    }


    #title{
        text-align: center;
    }

    #textCentered{
        text-align: center;
        width: 100%;
    }

    .cards{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    
    .card{
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .cardImage{
        width: 90%;
        height: auto;
        margin-top: 5%;
    }
    
    .cardDescription{
        width: 90%;
        margin: 0px;
        margin-bottom: 25px;
    }


    .seeMore{
        width: 300px;
    }

    .twoButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #buttonPink{
        width: 280px;
        height: 45px;
        line-height: 45px;
        margin-top: 20px;
        margin-right: 0px;
    }
    
    #buttonLong{
        width: 280px;
        height: 45px;
        line-height: 45px;
        margin-top: 20px;
    }

    #info{
        width: 80%;
        max-width: 320px;
    }


